---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="My Blog">
  <main>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </main>
</Layout>
